header#header.header
  .container
    .group
      .head-menu
        span.menu-icon
          span
          span
          span
        ul.menu
          li
            a(href='#') Item 1
          li
            a(href='#') Item 2
          li
            a(href='#') Item 3
          li
            a(href='#') Item 4
          li
            a(href='#') Item 5
  // container end
// header