head
  meta(charset='utf-8')
  title
  meta(name='keywords', content='')
  meta(name='description', content='')
  link(rel='stylesheet', href='css/jquery.arcticmodal-0.3.css', type='text/css')
  link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
  link(rel='stylesheet', href='css/main.css', type='text/css')
 	